// width
$max-width: 100%;
$w-15: 15%;
$w-70: 70%;
// display
$d-flex: flex;
$d-flex-start: flex-start;
$d-flex-column: column;
$d-flex-center: center;
$d-flex-between: space-between;
$d-flex-end: flex-end;
// spacing
$margin-1: 1rem;
