@import "_variables.scss";
@import "_colors.scss";

#layout-app {
    width: $max-width;
    display: $d-flex;
    align-items: $d-flex-start;
}

textarea {
    resize: none !important;
}

@media screen and (max-width:1200px) {
    #layout-app {
        flex-direction: column;
    }
}
// @media screen and (max-width:1400px){
//     #n1 {
//         display:none !important;
//     }
//     #n2 {
//         width:100% !important;
//         font-size: 10px !important;
//         .time {
//             font-size: 7px !important;
//         }
//     }
//     #n3 {
//         display:none !important;
//     }
// }

// mobile from 1407 is start
