// import customize css
@import "_variables.scss";
@import "_colors.scss";
@import "display.scss";
@import "_option.scss";
@import "_size.scss";
@import "_position.scss";

#layout-app {
    width: $max-width;
    display: $d-flex;
    align-items: $d-flex-start;
}

textarea {
    resize: $textarea_resize !important;
}

// responsive
@media screen and (max-width: 1200px) {
    #layout-app {
        flex-direction: $d-flex-column;
    }
}
