@import "layout.scss";
@import "./custom/n1.scss";
@import "./custom/n2.scss";
@import "./custom/n3.scss";
@import "./custom/inbox.scss";
@import "./custom/home.scss";
@import "./custom/calendar.scss";
@import "./custom/starred.scss";
@import "./custom/sent.scss";
@import "./custom/contacts.scss";
@import "./custom/keep.scss";
@import "./custom/mobile.scss";

/* Scroll Bar Design for Chrome */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
}
