#calendar {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    & nav {
        width: $max-width;
        display: $d-flex;
        align-items: $d-flex-center;
        div {
            margin: 0.2rem;
            & .add_title_btn {
                margin: 2rem 0 0 0;
            }
        }
    }
}

// responsive
@media screen and (max-width: 1200px) {
    #calendar {
        height: $max-width;
        overflow: $overflow-hidden;
        & nav {
            flex-direction: $d-flex-column;
            align-items: $d-flex-start;
            div {
                width: $max-width;
                margin: 0.2rem 0;
                & .add_title_btn {
                    margin: 0.5rem;
                }
                input {
                    width: $w-90;
                    margin: 0 0.5rem;
                }

                &:nth-child(3) p {
                    margin: 0 0.2rem;
                }
            }
        }
    }
}
