#contacts {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    .empty {
        height: $max-width;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }
    .show_contacts {
        .box-shadow {
            &:hover {
                cursor: pointer;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

#contacts_create {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
}

// responsive
@media screen and (max-width: 1200px) {
    #contacts {
        word-break: $word-breaks;
        #contacts_view {
            flex-direction: $d-flex-column;
            align-items: $d-flex-start;
        }
    }
}
