#contacts {
    height: 80vh;
    overflow-y: auto;
    .empty {
        height: 100%;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }
    .show_contacts {
        .box-shadow {
            &:hover {
                cursor: pointer;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

#contacts_create {
    height: 80vh;
    overflow-y: auto;
}


@media screen and (max-width:1200px) {
    #contacts {
        word-break: break-all;
        #contacts_view {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}