#home {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    & nav {
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-between;
        border-bottom: 1px solid #eee;
        border-radius: 5px;
        & div {
            margin: 0.5rem;
            &:nth-child(1) {
                display: $d-flex;
                svg {
                    margin: 0 0.5rem;
                }
            }
        }
    }
}

// responsive
@media screen and (max-width: 1200px) {
    #home {
        height: $hvh-100;
        #email-information main:nth-child(2) {
            display: $d-flex;
            align-items: $d-flex-start;
            flex-direction: $d-flex-column;
            div {
                margin: 0.2rem 0;
            }
        }
        #email-information main:nth-child(2) div {
            display: $d-flex;
            align-items: $d-flex-start;
            flex-direction: $d-flex-column;
        }
    }
}
