#inbox {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    & nav {
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-between;
        border-bottom: 1px solid #eee;
        border-radius: 5px;
        & div {
            margin: 0.5rem;
        }
    }
    article {
        // border: 1px solid #DDD;
        &:hover {
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
        }
    }
    .empty {
        height: $max-width;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }

    & #inbox-sm {
        display: $d-none;
    }
}

@media screen and (max-width: 1200px) {
    #inbox {
        height: $max-width;
        overflow: $overflow-hidden;
        font-size: 12px !important;
        nav {
            margin: 0 0.8rem;
        }
        div .time-text {
            font-size: 10px !important;
        }

        & #inbox-lg {
            display: $d-none;
        }

        & #inbox-sm {
            display: $d-grid;
            & div:nth-child(1) {
                flex-direction: $d-flex-column;
                input {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}
