#keep {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    .empty {
        height: $max-width;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }
    .show_keeps {
        .box-shadow {
            &:hover {
                cursor: pointer;
                box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

#keep_create {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
}
