#starred {
    height: $hvh-80;
    overflow-y: $overflow-y-auto;
    .empty {
        height: $max-width;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }
    article {
        border: 1px solid $color_6;
        &:hover {
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
        }
    }

    & #starred-sm {
        display: $d-none;
    }
}

@media screen and (max-width: 1200px) {
    #starred {
        height: $max-width;
        overflow: $overflow-hidden;
        font-size: 12px !important;
        nav {
            margin: 0 0.8rem;
        }
        div .time-text {
            font-size: 10px !important;
        }

        & #starred-lg {
            display: $d-none;
        }

        & #starred-sm {
            display: $d-grid;
            & div:nth-child(1) {
                flex-direction: $d-flex-column;
                input {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}
