#starred {
    height: 80vh;
    overflow-y: auto;
    .empty {
        height: 100%;
        display: $d-flex;
        align-items: $d-flex-center;
        justify-content: $d-flex-center;
    }
    article {
        border: 1px solid #DDD;
        &:hover {
            box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
        }
    }
}
